.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  background-color: yellow;
  border-radius: .3rem;
}

.btn {
	background-color: blue;
	margin-top: 1px;
	margin-bottom: 1px;
	color: white;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 10px;
}

.card-hotel{
	flex: 1 200px; /* Establece cuan responsive es la tarjeta */
	padding: 5px 5px 5px 5px; /* Establece la distancia que tendra la tarjeta del borde */
	margin-top: 50px; /* Margen en la parte de arriba */
	margin-bottom: 10px;
}

.btn-reserva{
	background-color: blue;
	width: 100%;
	border-radius: 0px;
}

.footer-adress-icon{
	padding-right: 1px;
	padding-top: 1px;
}
.card-img-top{
	margin-top: 5px;
	margin-bottom: 5px;
}

.card-tarjetas{
	margin-top: 20px;
	margin-bottom: 10px;
}

.card-header{
	background-color: blue;
	color: white
}

.tab-content{
	padding-top: 10px;
}

.accordion{
	margin-bottom: 15px;
	margin-top: 10px;

}

.btn{
	margin-top: 10px;
}
.container-collapse{
	text-align: center;
}
