$yellow: #f7ff0d;
$blue: #0d31ff;
$green:#1bcc00;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin relleno($top, $bottom){
	padding: $top $bottom;
}

@mixin colors($text, $background){
	color: $text;
	background-color: $background;
}

.jumbotron {
  @include relleno(2rem, 1rem);
  @include margenes(3rem, 2rem);
  @include colors(black, $yellow)
  border-radius: .3rem;

}

.btn {
	background-color: $blue;
	color: white;
	@include margenes(1px, 1px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $green;
	@include margenes(0px, 10px);
}

.card-hotel{
	flex: 1 200px; /* Establece cuan responsive es la tarjeta */
	padding: 5px 5px 5px 5px; /* Establece la distancia que tendra la tarjeta del borde */
	@include margenes(50px, 10px);
}

.btn-reserva{
	background-color: blue;
	width: 100%;
	border-radius: 0px;
}

.footer-adress-icon{
	padding-right: 1px;
	padding-top: 1px;
}
.card-img-top{
	@include margenes(5px, 5px);
}

.card-tarjetas{
	@include margenes(20px, 10px);
}

.card-header{
	background-color: blue;
	color: white
}

.tab-content{
	padding-top: 10px;
}

.accordion{
	@include margenes(10px, 15px);

}

.container-collapse{
	text-align: center;
}
