.jumbotron {
  padding: 2rem 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: black;
  background-color: #f7ff0d;
  border-radius: .3rem; }

.btn {
  background-color: #0d31ff;
  color: white;
  margin-top: 1px;
  margin-bottom: 1px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #1bcc00;
  margin-top: 0px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 200px;
  /* Establece cuan responsive es la tarjeta */
  padding: 5px 5px 5px 5px;
  /* Establece la distancia que tendra la tarjeta del borde */
  margin-top: 50px;
  margin-bottom: 10px; }

.btn-reserva {
  background-color: blue;
  width: 100%;
  border-radius: 0px; }

.footer-adress-icon {
  padding-right: 1px;
  padding-top: 1px; }

.card-img-top {
  margin-top: 5px;
  margin-bottom: 5px; }

.card-tarjetas {
  margin-top: 20px;
  margin-bottom: 10px; }

.card-header {
  background-color: blue;
  color: white; }

.tab-content {
  padding-top: 10px; }

.accordion {
  margin-top: 10px;
  margin-bottom: 15px; }

.container-collapse {
  text-align: center; }
