@yellow: #f7ff0d;
@red: #e82c2c;
@green: #1bcc00;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom; }

.relleno(@top: 0px, @bottom: 0px){
  padding: @top @bottom; }

.colors(@text, @background){
  color: @text;
  background-color: @background; }

.jumbotron {
  .relleno(2rem, 1rem);
  .margenes(3rem, 2rem);
  .colors(black, @yellow);
  border-radius: .3rem; }

.btn {
  .colors(white, #0d31ff);
  .margenes(1px, 1px); }

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(0px, 10px); }

.card-hotel {
  flex: 1 200px;
  /* Establece cuan responsive es la tarjeta */
  padding: 5px 5px 5px 5px;
  /* Establece la distancia que tendra la tarjeta del borde */
  margin-top: 50px;
  margin-bottom: 10px; }

.btn-reserva {
  background-color: blue;
  width: 100%;
  border-radius: 0px; }

.footer-adress-icon {
  padding-right: 1px;
  padding-top: 1px; }

.card-img-top {
  margin-top: 5px;
  margin-bottom: 5px; }

.card-tarjetas {
  margin-top: 20px;
  margin-bottom: 10px; }

.card-header {
  background-color: blue;
  color: white; }

.tab-content {
  padding-top: 10px; }

.accordion {
  margin-top: 10px;
  margin-bottom: 15px; }

.container-collapse {
  text-align: center; }
